PORT=3000
TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
TMDB_LANGUAGE=en-US
DATABASE_URL=
AUTH_ISSUER=
API_AUDIENCE=group-2-api
CORS_ALLOWED_ORIGINS=http://localhost:3000
